# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Pytest
.pytest_cache/

# Logs
logs/
*.log

# Reports
reports/
htmlcov/
.coverage

# Allure
allure-results/
allure-report/

# Environment
.env

# OS
.DS_Store
Thumbs.db

# Python build
build/
dist/
*.egg-info/

# Selenium
screenshots/
downloads/

# Misc
.cache/